<div class="panel panel-default">
  <div class="panel-heading">
Orders
    <span class="pull-right btn-group">

    </span>
  </div>

  <div class='list-group'>
    <div ng-repeat="item in ctrl.orders" class="list-group-item">
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: item.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: item.id})">
        <i class="fa fa-trash-o"></i>
      </a>

    </span>
    <label for="Order Id">Order Description:</label>
      <h4 class="list-group-item-heading">
        <a href="" ui-sref="^.view({id: item.id})">{{item.description}}</a>
      </h4>
    <label for="Order Id">Order Id:</label>
      <h4 class="list-group-item-heading">
        <a href="" ui-sref="^.view({id: item.id})">{{item.id}}</a>
      </h4>
        <label for="Order Id"> Customer Id:</label>
      <h4 class="list-group-item-heading">
  <a href="" ui-sref="^.view({id: item.id})">{{item.userId}}</a>
      </h4>
        <label for="Order Id"> Order Created Date:</label> <p class="list-group-item-text">{{item.created}}</p>

  <label for="Order Id"> Order Amount:</label>  <p class="list-group-item-text">{{item.amount}}</p>

         <label for="Order Id">   Payment Status: :</label>        <p class="list-group-item-text">{{item.payment_status}}</p>
                 <label for="Order Id">   Shipment Status: :</label>          <span class="btn btn-danger">Not Shipped</span>
    </div>
    <div ng-show="!ctrl.orders.length" class="list-group-item">
      <h4 class="list-group-item-heading" translate>
        There are no orders
      </h4>

      <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a note!</p>
    </div>
  </div>

</div>
