<!-- <form name="form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
      <span ng-show="!ctrl.product.id" translate>Add a new product</span>
      <span ng-show="ctrl.product.id" translate>Edit product</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <formly-form model="ctrl.product" fields="ctrl.formFields" options="ctrl.formOptions"></formly-form>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()" ng-disabled="form.$invalid">
        Submit
      </button>
      <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">Reset</button>
    </div>
  </div>
</form> -->


  <form class="form-horizontal" ng-submit="submitForm()" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Product Name:</label>
      <div class="col-sm-6">
        <input   ng-model="product.name"type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Description:</label>
      <div class="col-sm-6">
        <input type="text-area"   ng-model="product.description" class="form-control" id="description" placeholder="Enter Product Description" name="description">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Price:</label>
      <div class="col-sm-4">
        <input type="text" ng-model="product.price"class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Ref No:</label>
      <div class="col-sm-4">
        <input type="text" ng-model="product.ref_no"class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Supplier Ref No:</label>
      <div class="col-sm-4">
        <input type="text" ng-model="product.supplier_ref_no"class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Weight:</label>
      <div class="col-sm-2">
        <input type="text" ng-model="product.weight" class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Product Futures:</label>
        <label><input type="checkbox" ng-model="product.futures" name="futures"></label>
    </div>
    <div  ng-show="product.futures"class="form-group">
      <label class="control-label col-sm-2" for="pwd">Metal Finish:</label>
      <div class="col-sm-2">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="metalFinish"
            ng-options="item as item.name for item in metalfinish "></select>

      </div>
      <label class="control-label col-sm-2" for="pwd">Material(Type):</label>
      <div class="col-sm-2">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="materialType"
              ng-options="item as item.name for item in materialtype "></select>
      </div>
      <label class="control-label col-sm-2" for="pwd">Earring Size:</label>
      <div class="col-sm-2">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="earringSize"
              ng-options="item as item.size for item in earringsize "></select>
      </div>
      <label class="control-label col-sm-2" for="pwd">Stone Type:</label>
      <div class="col-sm-2">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="stoneType"
            ng-options="item as item.name for item in stonetype "></select>
      </div>
      <label class="control-label col-sm-2" for="pwd">Necklace Length(W/O Thread/Chain):</label>
      <div class="col-sm-2">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="necklaceLength"
            ng-options="item as item.size for item in necklacelength "></select>
      </div>
      <label class="control-label col-sm-2" for="pwd">Stone Color</label>
      <div class="col-sm-2">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="stoneColor"
            ng-options="item as item.name for item in stonecolor "></select>
      </div>

    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Shipping Charge:</label>
      <div class="col-sm-2">
        <input type="text" ng-model="product.shipping_charge"class="form-control" >

      </div>
      <label class="control-label col-sm-2" for="pwd">Profit Rate:</label>
      <div class="col-sm-2">
        <input type="text" ng-model="product.profit" class="form-control">
      </div>
      <label class="control-label col-sm-2" for="pwd">Tax (GST) Rate:</label>
      <div class="col-sm-2">
        <input type="text" ng-model="product.gst" class="form-control">
      </div>
    </div>

         <div class="form-group">

    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Category:</label>
      <div class="col-sm-4">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="selectedCategory"
            ng-options="cat as cat.name for cat in category"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Supplier:</label>
      <div class="col-sm-6">
        <select class="form-control"
            ng-disabled="isDisabled"
            ng-model="selectedvendor"
            ng-options="ven as ven.email for ven in vendor| filter: { user_type:'vendor' }"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Qty:</label>
      <div class="col-sm-2">
        <input type="text" ng-model="product.stock"class="form-control" >
      </div>
    </div>
    <div class="form-group ">
     <label class="control-label " for="url">
    Photo
     </label>
 <input type="file" photo-file="product.image"  onchange="angular.element(this).scope().previewPhoto(event)"/>
    </div>
    <div class="">
         <img ng-src="{{product.image }}" ng-if="!photo" class="img-rounded"  width="150" height="150" style="margin-bottom:20px">
      <img ng-src="{{photo}}" class="img-rounded"  width="150" height="150" style="margin-bottom:20px">

    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="product.allow_order" name="remember">Allow order</label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
